.nav {
  ul {
    display: flex;
    padding-top: 32px;
    margin-bottom: 22px;
    align-items: baseline;
  }

  li {
    font-size: 12px;
    list-style: none;
  }

  a {
    color: #6F7383;
    text-decoration: none;
  }

  .active {
    color: #FD4100;
  }

  .arrow {
    margin: 0 4px;
  }
}


@media only screen and (max-width: 768px) {
  .nav {
    height: 64px;
    background: #F2F2F6;
    ul{
      display: none;
    }
  }
}
