.aside {
  position: relative;
  width: 250px;
  margin-right: 20px;
  height: min-content;
  background-color: #fff;
  border: 1px solid #E9E9F0;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 4px 16px rgba(164, 174, 193, 0.1);

  .header {
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F9F9FB;
      border: 1px solid #E9E9F0;
      border-right: none;
      transition: .2s ease;
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }
    button:nth-child(1) {
      border-radius: 12px 0 0 0;
    }
    button:nth-child(3) {
      border-radius: 0 12px 0 0;
    }
    button.active {
      background-color: #fff;
      border-bottom: 1px solid #FD4100;
    }
  }

  .container {
    font-size: 12px;
  }

  .selectBox {
    margin-top: 18px;
  }

  .selectContainer {
    padding: 0 24px 24px 24px;
    border-bottom: 1px solid #E9E9F0;
  }

  .priceFields {
    display: flex;
    margin-top: 15px;
    align-items: center;
    padding: 0 24px 11px 24px;
    justify-content: space-between;

    p {
      font-size: 13px;
      font-family: Medium;
    }
  }

  .togglePrice {
    position: relative;
    display: flex;
    width: 46px;
    height: 24px;
    padding: 0 7px;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    border: 1px solid #E2E5EB;
    justify-content: space-between;
  }

  .togglePrice div {
    position: relative;
  }

  .togglePrice:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    background: #272A37;
    border-radius: 12px;
    transition: all .5s linear;
  }

  .isDollarSelected .togglePrice:before {
    right: -1px;
    left: auto;
    transition: all .5s linear;
  }

  .inputFields {
    position: relative;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 6px;
      height: 2px;
      background: #8C929B;
      border-radius: 100px;
    }

    .inputField {
      width: 92px;
      height: 40px;
      input {
        width: 100%;
        height: 100%;
        color: #8C929B;
        font-size: 13px;
        padding-left: 9px;
        border-radius: 8px;
        font-family: 'Light';
        border: 1px solid #D8DBE2;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .filter {
    width: 100%;
    height: 68px;
    margin-top: 45px;
    padding-top: 16px;
    box-shadow: 0 2px 16px rgba(39, 42, 55, 0.13);

    button {
      width: 202px;
      height: 32px;
      color: #fff;
      margin: auto;
      border: none;
      display: flex;
      font-size: 14px;
      cursor: pointer;
      border-radius: 6px;
      background: #FD4100;
      align-items: center;
      font-family: 'Medium';
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .aside {
    display: none;
  }
}
